.landing {
  background-color: rgb(17, 16, 16);
  /* background-image: url("../../assests/images/api-with-outlets.jpg"); */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1rem;
  min-height: 28rem;
  width: 100%;
  color: #fff;
  padding: 5rem;
}
.landing p {
  padding-top: 1rem;
  text-align: justify;
}

.landing_action {
  padding-top: 2rem;
}
.landing_action button {
  background-color: rgb(17, 17, 141);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
}
